html {
    font-family: "Helvetica Neue", sans-serif;
    width: 100%;
    color: #666666;
    text-align: center;
}

.alert {
    border-radius: 6px;
    width: 90%;
    height: 90%;
    margin: auto;
    border: 3px solid rgb(183, 0, 255);
    padding: 5%;
    text-align: center;
    overflow: auto;  
}

.popup-overlay {
    visibility: hidden;
    position: absolute;
    background: #ffffff;
    border: 3px solid #666666;
    border-radius: 6px;
    width: 50%;
    height: 50%;
    left: 25%;
}

.popup-overlay.active {
    visibility: visible;
    float: right;
    width: 300px;
    padding: 5%;
    text-align: center;
}

.popup-content {
    visibility: hidden;
}

.popup-content.active {
    visibility: visible;
    float: right;
    width: 300px;
    padding: 5%;
    text-align: center;
}

button {
    display: inline-block;
    vertical-align: middle;
    border-radius: 6px;
    margin: .20rem;
    font-size: 1rem;
    color: #666666;
    background: #ffffff;
    border: 1px solid #666666;
}

button:hover {
    border: 1px solid #666666;
    background: #666666;
    color: #ffffff;
}